@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/bg-top.svg") , url("/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 510px) calc(50% - 390px), calc(50% + 470px) calc(50% + 500px);
  background-color: rgba(5, 193, 200, 0.636);
}